.heading {
  text-align: center;
}

.flex-container{
  display: flex;
}

.main-container {
  justify-content: space-between;
  margin-left: 16px;
  margin-right: 16px;
}

.hidden{
  display: none;
}
form{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
label{
  display: flex;
  flex-direction: column;

  font-size: larger;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input, textarea{
  height: 24px;
}
button{
  padding-top: 14px;
  padding-bottom: 14px;
}
